.App {
  text-align: center;
}
.nav{
  height: 60px;
  width: 100vw;
  background-color: orangered
}
.logo img{
  height: 40px;
  width: 30px;
}
.footer {
  height:60px;
  width: 100vw;
  background-color: palegreen;
}